html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: #5CB5B0;
}
a:hover {
    color: #275250;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 0;
    font-size: 2rem;
}

.container {
    width: 67.71%;
    margin: 0 auto;
}

.container.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */

.main-header {
    background: #FFFFFF;
    box-shadow: 0px 11px 20px rgba(102, 191, 191, 0.5);
    padding: 23px 0;
    margin-bottom: 62px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.main-header-placeholder {
    height: 107px;
    margin-bottom: 62px;
}
.main-nav {
  
}
.main-nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}
.main-nav a {
    display: inline-block;
    padding: 12px;
    color: black;
    font-size: 1.429rem;
}
.main-nav .nav-home {
    font-weight: bold;
    border-bottom: 3px solid #FACA68;
}


/* Main Content */

.main-content {
    display: flex;
    gap: 4.77%;
}
.sidebar {
    border: 1px solid royalblue;
    width: 20.61%;
    gap: 30px;
}
.main-content main {
    flex: 1;
    width: 79.39%;
}

/* Photo Content */

.photo-content {
    
    display: flex;
    gap: 20px;
    margin-bottom: 70px;
}
.left-content {
    background: url('../images/london.jpg');
    background-size: cover;
    border-radius: 16px;
    width: 530px;
    
}

.right-content {
    display: flex;
    gap: 21px;
   
}

.right-content .img-t {
    width: 199px;
    height: 150px;
    background-size: cover;
    border-radius: 16px;
}

.img-one {
    background: url('../images/rome.jpg');
    margin-bottom: 30px;
}
.img-two {
    background: url('../images/barcelona.jpg');
}
.img-three {
    background: url('../images/venice.jpg');
    margin-bottom: 30px;
}

.img-four {
    background-image: url('../images/alps.jpg');
}

/* buttons article */

.gradient-buttons {
    display: flex;
    gap: 30px;
}
.gradient-buttons a {
    display: inline-flex;
    align-items: center;
    background: #5b5f5f;
    padding: 14px 38px;
    border-radius: 43px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    width: auto;
    
}

/* cards sections */

.page-section {
    margin-bottom: 70px;
}

.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.section-heading h2 {
    margin: 0;
    font-size: 2rem;
}

.deals-wrapper {
    display: flex;
    gap: 2.07%;
}

.deal-card {
    flex: 1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #FFFFFF;
    padding: 15px;
}

.deal-image {
    display: block;
    height: 170px;
    background-color: #5b5f5f;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.deal-card h3 {
    font-family: 'Montserrat', sans-serif;
    color: #5CB5B0;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    margin-bottom: 3px;
}

.deal-card h4 {
    margin: 0;
    font-weight: 700;
    font-size: 1.429rem;
}

.deal-card p {
    margin: 0;
    margin-bottom: 14px;
    color: #808080;
    font-weight: 400;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer a {
    padding: 9px 16px;
    border-radius: 83px;
    background-color: #F7BF4D;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}